.header{

    &__logo{
        text-align: center;

        &__img{
            padding: 2em 0em 2em 0em;
        }
    }
    
    

    &__local{
        width: 100%;
        background-color: $bg1 ;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1em 0em 1em 0em;
        .fa-map-marker-alt{
            margin-right: 2em;
        }
        &__texte{
            font-weight: bold;
        }
    }

    &__présentation{
        width: 100%;
        background-color: $bg2;
        padding: 1em 0em 2em 0em;
        &__titre{
            text-align: center;
        }
        &__texte{
            text-align: center;
            padding-bottom: 1em;
        }
        &__bouton{
            border: transparent;
            border-radius: 30px;
            padding: 1em 1em 1em 1em;
            box-shadow: 0 4px 0.5em #c0c0c0;
            cursor: pointer;
            color: white;
            display: block;
            margin: auto;
            background-image:linear-gradient(to bottom right, $couleur_secondaire,$couleur_primaire,);
            &:hover{
                background: linear-gradient(lighten($couleur_secondaire, 10%), lighten($couleur_primaire, 10%));
                box-shadow: 0 4px 0.5em #a5a5a5;
            }
        }
    }

    
}