@charset "UTF-8";
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: "Roboto";
}

.header {
  display: flex;
  flex-direction: column;
}
.header__logo {
  width: 100%;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 10px #969696;
}
.header__logo__img {
  padding: 2em 0em 2em 0em;
}
@media (max-width: 599px) {
  .header__logo__img {
    width: 50%;
    padding: 1em 0em 1em 0em;
  }
}
.header__local {
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em 0em 1em 0em;
}
@media (max-width: 599px) {
  .header__local {
    padding: 0em 0em 0em 0em;
  }
}
.header__local .fa-map-marker-alt {
  margin-right: 2em;
}
@media (max-width: 599px) {
  .header__local .fa-map-marker-alt {
    margin-right: 1em;
  }
}
.header__local__texte {
  font-weight: bold;
}
.header__présentation {
  width: 100%;
  background-color: #f6f6f6;
  padding: 1em 0em 2em 0em;
}
.header__présentation__titre {
  text-align: center;
}
@media (max-width: 599px) {
  .header__présentation__titre {
    font-size: 25px;
    margin: 1em 2em 0em 2em;
  }
}
.header__présentation__texte {
  text-align: center;
  padding-bottom: 1em;
}
@media (max-width: 599px) {
  .header__présentation__texte {
    margin: 1em 0.5em 0em 0.5em;
    font-size: 18px;
  }
}
.header__présentation__bouton {
  border: transparent;
  border-radius: 30px;
  padding: 1em 1em 1em 1em;
  box-shadow: 0 4px 0.5em #c0c0c0;
  cursor: pointer;
  color: white;
  display: block;
  margin: auto;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  transform: scale(1);
  transition: all 300ms;
}
@media (max-width: 599px) {
  .header__présentation__bouton {
    padding: 1em 2em 1em 2em;
  }
}
.header__présentation__bouton:hover {
  transform: scale(1.05);
  background: linear-gradient(#ff8bdf, #9c65df);
  box-shadow: 0 6px 0.75em #797979;
}

.restaurantheader {
  width: 100%;
}
.restaurantheader__haut {
  display: flex;
  align-items: center;
}
.restaurantheader__haut .fa-arrow-left {
  margin-left: 2em;
  margin-right: 35vw;
}
@media (max-width: 599px) {
  .restaurantheader__haut .fa-arrow-left {
    margin-left: 1em;
    margin-right: 24vw;
  }
}
.restaurantheader__haut__logo {
  text-align: center;
  padding: 1em 0em 1em 0em;
  width: 50px;
}
@media (max-width: 599px) {
  .restaurantheader__haut__logo img {
    width: 150px;
    padding: 0em 0em 0em 0em;
  }
}
.restaurantheader__haut a {
  text-decoration: none;
  color: black;
}
@media (max-width: 599px) {
  .restaurantheader__haut a {
    font-size: 10px;
  }
}

.footer {
  width: 100%;
  background-color: #353535;
  color: white;
  padding: 0.5em 0em 2em 0em;
}
.footer__titre {
  font-family: "Shrikhand";
  text-align: center;
}
@media (max-width: 599px) {
  .footer__titre {
    text-align: left;
    margin-left: 2.75em;
    font-size: 12px;
    font-weight: lighter;
  }
}
.footer__menu {
  text-align: center;
}
@media (max-width: 599px) {
  .footer__menu {
    text-align: left;
    margin-left: 2em;
  }
}
.footer__menu i {
  padding-right: 1em;
}
.footer__menu a {
  text-decoration: none;
  color: white;
}
.footer__menu__avecicon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25em;
}
@media (max-width: 599px) {
  .footer__menu__avecicon {
    justify-content: flex-start;
  }
}
.footer__menu__avecicon :hover {
  color: #99E2D0;
}
.footer__menu__sansicon {
  margin-bottom: 0.25em;
}
.footer__menu__sansicon :hover {
  color: #99E2D0;
}

.fa-hands-helping {
  font-size: 13px;
}

.loading {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: out 250ms 3s forwards;
}
.loading__spinner {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid #99E2D0;
  animation: loader 1.5s backwards ease-in-out infinite;
}
.loading__spinner--secondary {
  border: 5px solid #FF79DA;
  animation: loader 1.5s 500ms backwards ease-in-out infinite;
}
.loading__spinner--tertiary {
  border: 5px solid #9356DC;
  animation: loader 1.5s 750ms backwards ease-in-out infinite;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1000;
  }
}
.fonctionnement {
  width: 100%;
  padding-bottom: 1em;
}
.fonctionnement__titre {
  padding-left: 2em;
}
@media (max-width: 599px) {
  .fonctionnement__titre {
    padding-left: 1em;
    font-size: 12px;
  }
}
.fonctionnement__grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 2em;
}
@media (max-width: 599px) {
  .fonctionnement__grid {
    flex-direction: column;
    padding-left: 1em;
  }
}

.fonctionnement_bloc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: inherit;
}
.fonctionnement_bloc__numero__number {
  background-color: #9356DC;
  border-radius: 50px;
  padding-top: 0.15em;
  padding-left: 0.5em;
  padding-bottom: 0.15em;
  padding-right: 0.5em;
  margin-top: 1.5em;
  line-height: normal;
  color: white;
  margin-right: -5em;
  position: absolute;
}
.fonctionnement_bloc__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 19em;
  height: 4.5em;
  margin-bottom: 1em;
  border-radius: 20px;
  box-shadow: 0 4px 0.5em #dfdfdf;
  background-color: #f6f6f6;
  margin-right: 1em;
  margin-left: 1em;
}
@media (max-width: 599px) {
  .fonctionnement_bloc__box {
    width: 90vw;
  }
}
.fonctionnement_bloc__box:hover {
  background-color: #f2eafb;
  box-shadow: 1px 5px 8px 0px #d1d1d1;
}
.fonctionnement_bloc__box:hover:hover i {
  color: #9356DC;
}
.fonctionnement_bloc__box__icon {
  margin-right: 1.5em;
  margin-left: 2em;
  color: #797979;
}
.fonctionnement_bloc__box__texte {
  font-weight: bold;
}

.restaurants {
  width: auto;
  background-color: #f6f6f6;
  padding-left: 2em;
  padding-bottom: 2em;
  border-radius: 20px;
  margin: auto;
}
@media (max-width: 599px) {
  .restaurants {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding-left: 0;
  }
}
.restaurants__titre {
  padding-top: 1em;
}
@media (max-width: 599px) {
  .restaurants__titre {
    font-size: 12px;
    padding-left: 1em;
  }
}
.restaurants__grille {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 599px) {
  .restaurants__grille {
    flex-direction: column;
    width: 100%;
  }
}
.restaurants a {
  text-decoration: none;
  color: black;
  width: 40%;
  margin-right: 8vw;
}

.restaurants_bloc {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 3px 0.5em #dfdfdf;
  margin: 2em 5em 2em 5em;
  height: 25em;
  width: 100%;
  overflow: hidden;
  position: relative;
  transform: scale(1);
  transition: all 450ms;
}
@media (max-width: 599px) {
  .restaurants_bloc {
    height: 15em;
    width: 92vw;
    margin: 0.5em 1em 0.5em 1em;
  }
}
.restaurants_bloc:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 1.5em #797979;
}
.restaurants_bloc img {
  height: 19em;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 599px) {
  .restaurants_bloc img {
    height: 11em;
  }
}
.restaurants_bloc__badge {
  background-color: #99E2D0;
  color: #008766;
  font-weight: bold;
  padding: 0.4em 0.8em 0.4em 0.8em;
  border-radius: 2px;
  position: absolute;
  top: 1em;
  right: 0.75em;
}
.restaurants_bloc__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants_bloc__description__texte {
  margin-left: 1em;
}
.restaurants_bloc__description__texte h2 {
  margin-bottom: 0.25em;
}
@media (max-width: 599px) {
  .restaurants_bloc__description__texte h2 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 3px;
  }
}
.restaurants_bloc__description__texte p {
  margin-top: 0em;
}
.restaurants_bloc__description__coeur {
  margin-right: 1.5em;
}
@media (max-width: 599px) {
  .restaurants_bloc__description__coeur {
    margin-bottom: 0.5em;
  }
}
.restaurants_bloc__description__coeur .icon-plein {
  display: none;
}
@media (max-width: 599px) {
  .restaurants_bloc__description__coeur .icon-plein {
    font-size: 20px;
  }
}
.restaurants_bloc__description__coeur .icon-vide {
  display: block;
}
@media (max-width: 599px) {
  .restaurants_bloc__description__coeur .icon-vide {
    font-size: 20px;
  }
}
.restaurants_bloc__description__coeur:hover .icon-plein {
  display: block;
  background: linear-gradient(to bottom left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: coeur 500ms ease-in-out;
}
@keyframes coeur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.restaurants_bloc__description__coeur:hover .icon-vide {
  display: none;
}

.header_image {
  max-width: fit-content;
  height: 25em;
}
@media (max-width: 599px) {
  .header_image {
    height: 16em;
  }
}
.header_image img {
  width: 100%;
  height: 28em;
  object-fit: cover;
}
@media (max-width: 599px) {
  .header_image img {
    height: 19em;
  }
}

.page {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  padding-bottom: 4em;
}
.page__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 599px) {
  .page__header {
    justify-content: flex-start;
  }
}
.page__header h2 {
  font-family: "Shrikhand";
  font-size: 40px;
  padding-right: 2em;
}
@media (max-width: 599px) {
  .page__header h2 {
    font-size: 28px;
    padding-left: 1em;
    padding-right: 1em;
  }
}
.page__header__coeur {
  font-size: 30px;
}
@media (max-width: 599px) {
  .page__header__coeur {
    font-size: 25px;
  }
}
.page__header__coeur .icon-plein {
  display: none;
}
@media (max-width: 599px) {
  .page__header__coeur .icon-plein {
    font-size: 20px;
  }
}
.page__header__coeur .icon-vide {
  display: block;
}
@media (max-width: 599px) {
  .page__header__coeur .icon-vide {
    font-size: 20px;
  }
}
.page__header__coeur:hover .icon-plein {
  display: block;
  background: linear-gradient(to bottom left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: coeur 500ms ease-in-out;
}
@keyframes coeur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page__header__coeur:hover .icon-vide {
  display: none;
}

.repas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 3em;
}
@media (max-width: 599px) {
  .repas {
    flex-direction: column;
  }
}

.repas_box {
  display: flex;
  flex-direction: column;
}
.repas_box h3 {
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 5px;
  margin-bottom: 0;
  width: 60px;
  font-weight: lighter;
}
@media (max-width: 599px) {
  .repas_box h3 {
    font-size: 25px;
    margin-left: 1em;
  }
}
.repas_box__vignettes {
  width: 28vw;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 4px 0.5em #dfdfdf;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
@media (max-width: 599px) {
  .repas_box__vignettes {
    width: 92vw;
    margin-left: 1em;
    border-radius: 15px;
  }
}
.repas_box__vignettes:hover .repas_box__vignettes__icon {
  transform: scaleX(1);
}
.repas_box__vignettes:hover .repas_box__vignettes__icon__anim {
  transform: rotate(360deg);
}
.repas_box__vignettes:hover .repas_box__vignettes__texte {
  width: 60%;
}
.repas_box__vignettes:hover .repas_box__vignettes__texte__titre {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.repas_box__vignettes:hover .repas_box__vignettes__texte_sous-titre {
  overflow: hidden;
  text-overflow: ellipsis;
}
.repas_box__vignettes:hover .repas_box__vignettes__prix {
  transform: translateX(25px);
}
.repas_box__vignettes__texte {
  width: 100%;
  transform: scaleX(1);
  transform-origin: left;
  transition: width 300ms 100ms linear;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.repas_box__vignettes__texte__titre {
  margin: 0.5em 0em 0em 1em;
  font-weight: 600;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.repas_box__vignettes__texte__sous-titre {
  margin: 0.25em 0em 0.5em 1em;
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 0.95rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.repas_box__vignettes__prix p {
  align-self: flex-end;
  color: black;
  font-size: 0.95rem;
  font-weight: bold;
  position: absolute;
  right: 15px;
  bottom: 0px;
  transform-origin: right;
  transition: transform 300ms 100ms linear;
}
.repas_box__vignettes__icon {
  display: flex;
  background-color: #99E2D0;
  width: 72px;
  height: 70px;
  padding-right: 0;
  border-radius: 0 15px 15px 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms 100ms linear;
}
.repas_box__vignettes__icon__anim {
  color: #fff;
  font-size: 1.6rem;
  margin: auto;
  transform: rotate(0deg);
  transition: transform 300ms 100ms linear;
}

.bouton {
  text-align: center;
  margin-bottom: 2em;
  border: transparent;
  border-radius: 30px;
  padding: 1em 3em 1em 3em;
  box-shadow: 0 4px 0.5em #c0c0c0;
  cursor: pointer;
  color: white;
  display: block;
  margin: auto;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  transform: scale(1);
  transition: all 300ms;
}
@media (max-width: 599px) {
  .bouton {
    padding: 1em 4em 1em 4em;
  }
}
.bouton:hover {
  transform: scale(1.05);
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 0 4px 0.5em #a5a5a5;
}

.repas_box__vignettes {
  animation: fadein 6s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
